Repository elastic/rally-tracks, pull requests merged in 2019-10, with the labels that each got.

#85 Replace interval parameter with fixed_interval and calendar_interval
  http_logs/operations/default.json
  metricbeat/operations/default.json
  nested/operations/default.json
  nyc_taxis/challenges/default.json
  nyc_taxis/operations/default.json
  pmc/operations/default.json
Labels: enhancement

#86 Fix bad intervals
  http_logs/operations/default.json
  metricbeat/operations/default.json
  nyc_taxis/operations/default.json
Labels: bug

#88 Ensure http_logs sort query benchmarks are stable
  http_logs/challenges/default.json
Labels: backport pending, enhancement
