Repository elastic/rally-tracks, pull requests merged in 2020-12, with the labels that each got.

#146 Wait until cluster health is green
  eql/track.json
  eventdata/challenges/default.json
  geonames/challenges/default.json
  geopoint/challenges/default.json
  geopointshape/challenges/default.json
  geoshape/challenges/default.json
  http_logs/challenges/common/default-schedule.json
  http_logs/challenges/default.json
  metricbeat/challenges/default.json
  nested/challenges/default.json
  noaa/challenges/default.json
  nyc_taxis/challenges/default.json
  percolator/challenges/default.json
  pmc/challenges/default.json
  so/challenges/default.json
Labels: bug

#150 Fix two operations around runtime fields
  http_logs/challenges/common/default-schedule.json
  http_logs/index-runtime-grok.json
Labels: bug

#148 Switch runtime_script_grok to _source
  http_logs/README.md
  http_logs/index-runtime-grok-doc-values.json
  http_logs/index-runtime-grok-source.json
  http_logs/track.json
Labels: enhancement

#151 Lower throughput target for runtime 200s in range
  http_logs/challenges/common/default-schedule.json
Labels: backport pending
