Repository elastic/rally-tracks, pull requests merged in 2020-04, with the labels that each got.

#109 Update corpora compressed size after re-compression with pbzip2
  eventdata/track.json
  geopoint/track.json
  geopointshape/track.json
  geoshape/track.json
  http_logs/track.json
  metricbeat/track.json
  nested/track.json
  noaa/track.json
  nyc_taxis/track.json
  percolator/track.json
  pmc/track.json
  so/track.json
Labels: enhancement

#110 Disable content compression for PMC queries
  pmc/operations/default.json
Labels: enhancement

#111 Backwards-compatible implementation of ML lookback
  nyc_taxis/track.py
Labels: bug

#112 Remove size() method from parameter sources
  geonames/track.py
  nested/track.py
Labels: cleanup
