Repository elastic/rally-tracks, pull requests merged in 2020-02, with the labels that each got.

#97 Use async runners if needed
  http_logs/track.py
  nyc_taxis/track.py
Labels: enhancement

#98 Set cluster-settings via API
  geonames/challenges/default.json
  geonames/track.py
Labels: cleanup

#101 Remove documents with negative population from geonames
  geonames/track.json
Labels: bug

#103 Ensure proper warmup for country_agg_cached
  geonames/challenges/default.json
Labels: backport pending, enhancement
