Repository elastic/rally-tracks, pull requests merged in 2020-10, with the labels that each got.

#134 Lower target-throughput for geonames term and phrase queries
  geonames/challenges/default.json
Labels: backport pending, enhancement

#137 Lower query throughput in geonames
  geonames/challenges/default.json
Labels: bug

#138 Remove random score functions in geonames
  geonames/challenges/default.json
  geonames/operations/default.json
Labels: cleanup
