Repository elastic/rally-tracks, pull requests merged in 2020-03, with the labels that each got.

#104 Ensure segments are merged
  eventdata/challenges/default.json
  geonames/challenges/default.json
  geopoint/challenges/default.json
  geopointshape/challenges/default.json
  geoshape/challenges/default.json
  http_logs/challenges/default.json
  metricbeat/challenges/default.json
  nested/challenges/default.json
  noaa/challenges/default.json
  nyc_taxis/challenges/default.json
  percolator/challenges/default.json
  pmc/challenges/default.json
  so/challenges/default.json
Labels: enhancement

#105 Remove obsolete default client count
  geonames/challenges/default.json
  geopoint/challenges/default.json
  geopointshape/challenges/default.json
  geoshape/challenges/default.json
  http_logs/challenges/default.json
  metricbeat/challenges/default.json
  nested/challenges/default.json
  noaa/challenges/default.json
  nyc_taxis/challenges/default.json
  percolator/challenges/default.json
  pmc/challenges/default.json
Labels: cleanup

#102 Add challenge for top_hits
  noaa/challenges/default.json
  noaa/operations/default.json
Labels: backport pending, enhancement

#107 Use keyword field for term query and terms agg
  geonames/operations/default.json
Labels: bug

#108 Adapt for asyncio
  geonames/challenges/default.json
  pmc/operations/default.json
Labels: enhancement
