Repository elastic/rally-tracks, pull requests merged in 2021-11, with the labels that each got.

#211 remove dependency on mapper-size plugin in EQL track
  eql/endgame-4.28.2-000001.json
Labels: cleanup

#212 [7.12] remove dependency on mapper-size plugin (#211)
  eql/endgame-4.28.2-000001.json
Labels: backport

#213 [7.14] remove dependency on mapper-size plugin (#211)
  eql/endgame-4.28.2-000001.json
Labels: backport

#215 [7.12] Additional challenges for EQL track (#210)
  eql/README.md
  eql/track.json
Labels: backport

#214 [7.14] Additional challenges for EQL track (#210)
  eql/README.md
  eql/track.json
Labels: backport

#218 Remove deprecated sorted indexing challenge in geonames
  geonames/challenges/default.json
Labels: cleanup

#216 SQL benchmarks
  eql/track.py
  noaa/challenges/sql.json
  noaa/track.py
Labels: enhancement
