Repository elastic/rally-tracks, pull requests merged in 2021-04, with the labels that each got.

#165 Benchmark for date_histo with one bucket
  noaa/challenges/default.json
  noaa/operations/default.json
Labels: enhancement

#167 Update corpora compressed size after re-compression with pbzip2 (#109)
  eventdata/track.json
  geopoint/track.json
  http_logs/track.json
  nested/track.json
  noaa/track.json
  nyc_taxis/track.json
  percolator/track.json
  pmc/track.json
  so/track.json
Labels: backport pending

#168 Use one primary shard for geopointshape
  geopointshape/README.md
  geopointshape/index.json
Labels: backport pending, enhancement

#169 Use a new CDN backed bucket for standard tracks
  eventdata/track.json
  geonames/track.json
  geopoint/track.json
  geopointshape/track.json
  geoshape/track.json
  http_logs/track.json
  metricbeat/track.json
  nested/track.json
  noaa/track.json
  nyc_taxis/track.json
  percolator/track.json
  pmc/track.json
  so/track.json
Labels: backport pending, enhancement

#171 update to use new on_prepare_track API
  http_logs/track.py
Labels: backport pending

#174 Add ignore-response-error-level for bulk
  eql/README.md
  eql/track.json
  eventdata/README.md
  eventdata/challenges/default.json
  geonames/README.md
  geonames/challenges/default.json
  geopoint/README.md
  geopoint/challenges/default.json
  geopointshape/README.md
  geopointshape/challenges/default.json
  geoshape/README.md
  geoshape/challenges/default.json
  http_logs/README.md
  http_logs/challenges/default.json
  metricbeat/challenges/default.json
  nested/README.md
  nested/challenges/default.json
  noaa/README.md
  noaa/challenges/default.json
  nyc_taxis/README.md
  nyc_taxis/challenges/default.json
  percolator/README.md
  percolator/challenges/default.json
  pmc/README.md
  pmc/challenges/default.json
  so/README.md
  so/challenges/default.json
Labels: cleanup

#175 Fix bug in "ignore-response-error-level" parameter
  eql/README.md
  eql/track.json
  eventdata/README.md
  eventdata/challenges/default.json
  geonames/README.md
  geonames/challenges/default.json
  geopoint/README.md
  geopoint/challenges/default.json
  geopointshape/README.md
  geopointshape/challenges/default.json
  geoshape/README.md
  geoshape/challenges/default.json
  http_logs/README.md
  http_logs/challenges/default.json
  metricbeat/challenges/default.json
  nested/README.md
  nested/challenges/default.json
  noaa/README.md
  noaa/challenges/default.json
  nyc_taxis/README.md
  nyc_taxis/challenges/default.json
  percolator/README.md
  percolator/challenges/default.json
  pmc/README.md
  pmc/challenges/default.json
  so/README.md
  so/challenges/default.json
Labels: bug
