Repository elastic/rally-tracks, pull requests merged in 2021-12, with the labels that each got.

#223 Introduce separate track for SQL
  noaa/challenges/sql.json
  noaa/track.py
  sql/README.md
  sql/index.json
  sql/track.json
  sql/track.py
Labels: enhancement, backport pending

#225 [7.14] Introduce separate track for SQL (#223)
  noaa/challenges/sql.json
  noaa/track.py
  sql/README.md
  sql/index.json
  sql/track.json
  sql/track.py
Labels: backport

#226 [7.12] Introduce separate track for SQL (#223)
  noaa/challenges/sql.json
  noaa/track.py
  sql/README.md
  sql/index.json
  sql/track.json
  sql/track.py
Labels: backport

#227 [7.12] EQL: Adjust new benchmarks (#224)
  eql/track.json
Labels: backport

#228 [7.14] EQL: Adjust new benchmarks (#224)
  eql/track.json
Labels: backport

#230 [7.14] EQL: Additional challenge using index sorting (#229)
  eql/README.md
  eql/challenges/default.json
  eql/challenges/index_sorting.json
  eql/legacy_queries.json
  eql/queries.json
  eql/track.json
Labels: backport

#231 [7.12] EQL: Additional challenge using index sorting (#229)
  eql/README.md
  eql/challenges/default.json
  eql/challenges/index_sorting.json
  eql/legacy_queries.json
  eql/queries.json
  eql/track.json
Labels: backport

#217 Add vectors search track
  dense_vector/README.md
  dense_vector/_tools/parse.py
  dense_vector/challenges/default.json
  dense_vector/files.txt
  dense_vector/index.json
  dense_vector/operations/default.json
  dense_vector/track.json
Labels: new workload
