Repository elastic/rally-tracks, pull requests merged in 2021-06, with the labels that each got.

#179 Add operation for new terms_enum API
  http_logs/challenges/common/default-schedule.json
  http_logs/operations/default.json
Labels: enhancement

#180 Decrease target-throughput of painless in geonames
  geonames/challenges/default.json
Labels: backport pending, enhancement

#181 Migrate text field to match_only_text
  http_logs/index.json
Labels: backport pending, enhancement

#182 Deprecating eventdata track
  eventdata/challenges/default.json
Labels: backport pending, cleanup

#184 Improve consistency of geo tracks
  geopointshape/challenges/default.json
  geoshape/challenges/default.json
Labels: bug
