Repository elastic/rally-tracks, pull requests merged in 2021-02, with the labels that each got.

#155 Update the versioning scheme docs
  README.md
Labels: backport pending, enhancement

#157 reduce target-throughput for tasks that are a little tight in nightlies
  geonames/challenges/default.json
Labels: backport pending

#158 Add operation for terms agg alone
  noaa/challenges/default.json
  noaa/operations/default.json
Labels: enhancement
