Repository elastic/rally-tracks, pull requests merged in 2022-03, with the labels that each got.

#242 Use native SQL operation type and add paging queries
  sql/README.md
  sql/track.json
  sql/track.py
Labels: enhancement

#249 Revert "Use native SQL operation type and add paging queries"
  sql/README.md
  sql/track.json
  sql/track.py
Labels: bug

#244 Run `no_target` versions immediately before original ones
  nyc_taxis/challenges/default.json
Labels: cleanup

#252 Adjust throughputs for some EQL queries after Lucene upgrade
  eql/queries.json
Labels: enhancement, backport pending

#261 Fix incorrect iterations in NYC Taxis
  nyc_taxis/challenges/default.json
Labels: bug, backport pending

#262 Add new geoshape default track that runs with less data (#238)
  geoshape/challenges/default.json
  geoshape/files.txt
  geoshape/index.json
  geoshape/operations/default.json
  geoshape/track.json
Labels: backport

#259 Use native SQL operation type and add paging queries (2nd attempt)
  sql/README.md
  sql/track.json
  sql/track.py
Labels: enhancement

#260 Dense vectors add searches before force merge
  dense_vector/challenges/default.json
Labels: enhancement

#264 Dense vectors add search before force merge
  dense_vector/challenges/default.json
Labels: enhancement
