Repository elastic/rally-tracks, pull requests merged in 2022-06, with the labels that each got.

#274 Switch to new bucket for offline download script
  download.sh
Labels: bug

#276 Update references to Elasticsearch main branch
  README.md
  tsdb/README.md
Labels: cleanup

#275 Modify tsdb track to allow ingesting into a data stream
  tsdb/README.md
  tsdb/_tools/dedupe.py
  tsdb/challenges/default.json
  tsdb/index-template.json
  tsdb/track.json
Labels: enhancement
