Repository elastic/rally-tracks, pull requests merged in 2022-08, with the labels that each got.

#295 Fix dependency issue for endpoint tests
  elastic/Makefile
  elastic/tests/parameter_sources/__init__.py
Labels: bug

#296 dense_vector: store refresh-after-index metrics in rally-results
  dense_vector/challenges/default.json
Labels: enhancement

#299 don't glob recursively
  elastic/shared/runners/ilm.py
  elastic/tests/runners/resources/ilm/nested/dont-read-me.json
Labels: bug

#293 Add CCR/CSS challenge to elastic/logs
  elastic/logs/challenges/cross-clusters-search.json
  elastic/logs/track.py
  elastic/shared/parameter_sources/workflow_selector.py
  elastic/shared/runners/remote_cluster.py
  elastic/tests/parameter_sources/workflow_selector_test.py
  elastic/tests/runners/remote_cluster_test.py
Labels: enhancement

#294 Many shards snapshots challenge for elastic/logs
  .github/workflows/tracks.yml
  elastic/logs/challenges/many-shards-snapshots.json
Labels: new workload

#297 Allow running `make` commands from active virtualenv
  elastic/Makefile
Labels: tech debt

#286 Add a StackOverflow vectors track
  dense_vector/README.md
  so_vector/README.md
  so_vector/_tools/parse_embed.py
  so_vector/_tools/requirements.txt
  so_vector/challenges/default.json
  so_vector/files.txt
  so_vector/index.json
  so_vector/operations/default.json
  so_vector/track.json
Labels: new workload

#306 Support frozen tier logging benchmarks
  elastic/logs/challenges/logging-querying.json
  elastic/logs/challenges/logging-snapshot-mount.json
  elastic/logs/track.json
  elastic/logs/track.py
  elastic/shared/runners/snapshot.py
  elastic/tests/runners/snapshot_test.py
Labels: enhancement, backport pending

#302 Support frozen tier logging benchmarks
  elastic/logs/challenges/logging-querying.json
  elastic/logs/challenges/logging-snapshot-mount.json
  elastic/logs/track.json
  elastic/logs/track.py
  elastic/shared/runners/snapshot.py
  elastic/tests/runners/snapshot_test.py
Labels: enhancement

#309 Encourage users to browse the tracks documentation
  README.md
Labels: cleanup
