Repository elastic/rally-tracks, pull requests merged in 2022-10, with the labels that each got.

#329 Add wait-until-merges-finish to noaa aggs challenge
  noaa/challenges/default.json
Labels: enhancement

#328 Add filters aggregation to noaa track
  noaa/challenges/default.json
  noaa/filters-aggs-tasks.json
  noaa/operations/default.json
Labels: enhancement

#330 [Dense Vector] Move to _search API and add random query vector support
  dense_vector/operations/default.json
  dense_vector/track.py
Labels: enhancement, backport pending

#327 Synchronize all pushes to 'master' branch with '8.5' branch
  .github/workflows/sync-latest-branch.yml
Labels: enhancement

#334 Use list of queries for dense_vector track
  dense_vector/README.md
  dense_vector/challenges/default.json
  dense_vector/operations/default.json
  dense_vector/queries.json
  dense_vector/track.py
Labels: backport

#335 Remove legacy application-logs corpora
  elastic/it/query-tests/discover.json
  elastic/logs/challenges/logging-disk-usage.json
  elastic/logs/pipelines/logs-k8-app.json
  elastic/logs/templates/composable/logs-k8-application.log.json
  elastic/logs/track.json
  elastic/tests/runners/datastream_test.py
  elastic/tests/runners/resources/data_streams/logs.json
Labels: tech debt

#338 Make base_path static
  elastic/logs/challenges/many-shards-snapshots.json
Labels: bug
