Repository elastic/rally-tracks, pull requests merged in 2022-09, with the labels that each got.

#314 Include metrics for create-snapshots in summary/rally-results index
  elastic/logs/challenges/many-shards-snapshots.json
Labels: enhancement

#300 Update synthetic source config
  nyc_taxis/index.json
  tsdb/index-mappings.json
  tsdb/index-template.json
Labels: backport pending

#323 Fix tsdb mappings parameter typo
  tsdb/index-mappings.json
Labels: bug, backport pending

#324 Add synthetic source test
  it/test_synthetic_source.py
Labels: backport pending

#320 Re-enable security test
  it/test_security.py
Labels: backport pending

#285 add a transform challenge to the stack overflow track
  so/challenges/default.json
  so/operations/default.json
Labels: backport pending

#284 add a frequent-items challenge to the stack overflow track
  so/challenges/default.json
  so/operations/default.json
Labels: backport pending
