Repository elastic/rally-tracks, pull requests merged in 2022-02, with the labels that each got.

#237 index-append-with-timestamp-pipeline: set ignore non-fatal errors by default
  http_logs/challenges/common/default-schedule.json
Labels: bug

#239 Run NYC taxis searches without target throughput too
  nyc_taxis/challenges/default.json
Labels: enhancement

#241 correct field name in nyc_taxis
  nyc_taxis/challenges/indexing-querying.json
  nyc_taxis/operations/default.json
Labels: bug, backport pending
