Repository elastic/rally-tracks, pull requests merged in 2023-11, with the labels that each got.

#510 Add tsdb_k8s_queries challenge for serverless stress tests
  tsdb_k8s_queries/challenges/append-no-conflicts-rampup.json
  tsdb_k8s_queries/challenges/default.json
  tsdb_k8s_queries/operations/default.json
  tsdb_k8s_queries/track.json
Labels: new workload

#515 Add new `search_clients` track parameter to TSDB track
  tsdb/README.md
  tsdb/challenges/default.json
Labels: enhancement

#519 Reduce Wikipedia default bulk size
  wikipedia/operations/default.json
Labels: bug, enhancement
