Repository elastic/rally-tracks, pull requests merged in 2023-10, with the labels that each got.

#461 Fix typing in wikipedia track
  wikipedia/track.py
Labels: bug

#472 Semantic search benchmark
  msmarco-passage-ranking/README.md
  msmarco-passage-ranking/challenges/default.json
  msmarco-passage-ranking/files.txt
  msmarco-passage-ranking/msmarco-passage-ranking-collection.json
  msmarco-passage-ranking/operations/default.json
  msmarco-passage-ranking/queries.json
  msmarco-passage-ranking/track.json
  msmarco-passage-ranking/track.py
Labels: enhancement

#502 Remove the msmarco-passage-elser track
  msmarco-passage-elser/README.md
  msmarco-passage-elser/challenges/default.json
  msmarco-passage-elser/elser-query-tokens.json
  msmarco-passage-elser/files.txt
  msmarco-passage-elser/msmarco-passage-collection-elser.json
  msmarco-passage-elser/operations/bm25-queries.json
  msmarco-passage-elser/operations/weighted-token-queries.json
  msmarco-passage-elser/track.json
  msmarco-passage-elser/track.py
Labels: cleanup
