Repository elastic/rally-tracks, pull requests merged in 2023-06, with the labels that each got.

#414 Support refresh_interval for elastic/logs
  elastic/logs/README.md
  elastic/logs/templates/component/logs-apache.access@custom.json
  elastic/logs/templates/component/logs-apache.error@custom.json
  elastic/logs/templates/component/logs-kafka.log@custom.json
  elastic/logs/templates/component/logs-mysql.error@custom.json
  elastic/logs/templates/component/logs-mysql.slowlog@custom.json
  elastic/logs/templates/component/logs-nginx.access@custom.json
  elastic/logs/templates/component/logs-nginx.error@custom.json
  elastic/logs/templates/component/logs-postgresql.log@custom.json
  elastic/logs/templates/component/logs-redis.log@custom.json
  elastic/logs/templates/component/logs-redis.slowlog@custom.json
  elastic/logs/templates/component/logs-system.auth@custom.json
  elastic/logs/templates/component/logs-system.syslog@custom.json
Labels: enhancement

#410 Update `so_vector` track to use _search and clean up the track
  so_vector/operations/default.json
  so_vector/queries.json
  so_vector/track.py
Labels: enhancement, cleanup

#405 Weighted terms benchmarks for ELSER
  msmarco-passage-elser/README.md
  msmarco-passage-elser/challenges/default.json
  msmarco-passage-elser/elser-query-tokens.json
  msmarco-passage-elser/files.txt
  msmarco-passage-elser/msmarco-passage-collection-elser.json
  msmarco-passage-elser/operations/bm25-queries.json
  msmarco-passage-elser/operations/weighted-token-queries.json
  msmarco-passage-elser/track.json
  msmarco-passage-elser/track.py
Labels: enhancement

#421 [dense_vector] Allow configurable index settings
  dense_vector/README.md
  dense_vector/challenges/default.json
Labels: enhancement

#419 [dense-vector] Load queries only once in memory
  dense_vector/track.py
Labels: enhancement

#422 Add CCS/CCR challenge to elastic/logs README
  elastic/logs/README.md
Labels: enhancement

#424 Use keyword arguments for Elasticsearch API methods
  elastic/shared/runners/datastream.py
Labels: bug, cleanup

#426 Remove data-url property
  geonames/track.json
Labels: cleanup
