Repository elastic/rally-tracks, pull requests merged in 2023-02, with the labels that each got.

#375 tsdb: set default source mode to synthetic
  tsdb/README.md
  tsdb/index-mappings.json
  tsdb/index-template.json
  tsdb/index.json
Labels: tech debt

#378 tsdb: Fix split16 to avoid indexing 14 docs from the end
  tsdb/README.md
  tsdb/_tools/split.py
  tsdb/track.json
Labels: bug

#380 Refactor elastic/logs runners to suit forthcoming client upgrade
  elastic/shared/runners/datastream.py
  elastic/shared/runners/ilm.py
  elastic/shared/runners/pipelines.py
  elastic/shared/runners/remote_cluster.py
  elastic/shared/runners/slm.py
  elastic/shared/runners/snapshot.py
  elastic/tests/runners/snapshot_test.py
Labels: enhancement

#379 Run lint and tests using GitHub Actions
  .ci/build.sh
  .ci/jobs/periodic-precommit.yml
  .ci/jobs/pull-request-precommit.yml
  .ci/jobs/push-precommit.yml
  .ci/templates/periodic.yml
  .ci/templates/precommit.yml
  .ci/templates/push.yml
  .github/workflows/ci.yml
  Makefile
  pyproject.toml
Labels: tech debt

#374 Replace ingest pipeline woraround in tsdb track
  tsdb/challenges/default.json
  tsdb/index-template.json
  tsdb/operations/default.json
Labels: enhancement
