Repository elastic/rally-tracks, pull requests merged in 2023-07, with the labels that each got.

#428 Bump linters
  elastic/shared/parameter_sources/workflow_selector.py
  elastic/shared/runners/remote_cluster.py
  elastic/shared/track_processors/track_id_generator.py
  elastic/tests/runners/remote_cluster_test.py
  elastic/tests/utils/time_test.py
  nyc_taxis/_tools/parse.py
  pyproject.toml
Labels: tech debt

#425 Add k8s_metrics track to benchmark refreshes during indexing
  it/test_all_tracks_and_challenges.py
  k8s_metrics/README.md
  k8s_metrics/challenges/default.json
  k8s_metrics/operations/default.json
  k8s_metrics/templates/k8s_metrics.json
  k8s_metrics/templates/metrics-kubernetes.pod.json
  k8s_metrics/templates/metrics-kubernetes.pod@custom.json
  k8s_metrics/templates/metrics-kubernetes.pod@package.json
  k8s_metrics/track.json
Labels: new workload

#430 Update README for elastic/security
  elastic/security/README.md
Labels: cleanup

#434 Fix template issues in the k8s_metrics track
  k8s_metrics/challenges/default.json
  k8s_metrics/templates/metrics-kubernetes.pod@custom.json
Labels: bug

#435 Reset the query iterator when all queries are exhausted
  dense_vector/track.py
Labels: bug

#441 k8s_metrics: add fast refresh indexing and search challenges
  k8s_metrics/README.md
  k8s_metrics/challenges/default.json
Labels: enhancement
