Repository elastic/rally-tracks, pull requests merged in 2023-01, with the labels that each got.

#358 Create new snapshot based CCS challenge
  elastic/logs/challenges/cross-clusters-search-and-replication.json
  elastic/logs/challenges/cross-clusters-search-and-snapshot.json
  elastic/logs/challenges/cross-clusters-search.json
  elastic/logs/tasks/many-clusters-ccs-queries.json
  elastic/logs/tasks/many-clusters-setup.json
  elastic/logs/track.py
  elastic/shared/runners/remote_cluster.py
  elastic/tests/runners/remote_cluster_test.py
Labels: enhancement, new workload

#362 Use `null` to reset cluster settings in CCS challenges
  elastic/logs/challenges/cross-clusters-search-and-replication.json
  elastic/logs/challenges/cross-clusters-search-and-snapshot.json
Labels: bug

#364 Add a split corpora to TSDB to allow sequential indexing
  tsdb/README.md
  tsdb/_tools/split.py
  tsdb/track.json
Labels: new workload

#357 Add sort by field with and without can match challenge to http-logs and geonames tracks
  geonames/challenges/default.json
  geonames/operations/default.json
  http_logs/challenges/common/default-schedule.json
  http_logs/operations/default.json
Labels: enhancement

#367 Added six geo benchmarks, three geo_grid and three grid aggregations
  geopoint/challenges/default.json
  geopoint/operations/default.json
  geopointshape/challenges/default.json
  geopointshape/operations/default.json
  geoshape/challenges/default.json
  geoshape/index.json
  geoshape/operations/default.json
Labels: new workload

#370 tsdb: Switch split16 to be a single file
  tsdb/track.json
Labels: enhancement
