Repository elastic/rally-tracks, pull requests merged in 2023-05, with the labels that each got.

#399 Remove 'number_of_users' param from elastic/* READMEs
  elastic/logs/README.md
  elastic/security/README.md
Labels: bug

#400 Update docs for integration ratios param
  elastic/logs/README.md
Labels: cleanup

#401 add refresh_interval parameter to tsdb track
  tsdb/README.md
  tsdb/index-template.json
  tsdb/index.json
Labels: enhancement
