Repository elastic/rally-tracks, pull requests merged in 2024-04, with the labels that each got.

#584 Add a logging-indexing variation track for data stream autosharding
  elastic/logs/README.md
  elastic/logs/challenges/datastream-autosharding.json
Labels: new workload

#590 Add a categorize-text challenge to the elastic/logs track.
  elastic/logs/challenges/categorize-text.json
Labels: enhancement

#591 Add a categorize-text challenge to the elastic/logs track. (#590)
  elastic/logs/challenges/categorize-text.json
Labels: backport
