Repository elastic/rally-tracks, pull requests merged in 2024-05, with the labels that each got.

#595 Add a new `low-latency` challenge to `tsdb` track
  tsdb/README.md
  tsdb/challenges/default.json
  tsdb/operations/default.json
Labels: enhancement

#596 Add a new `low-latency` challenge to `tsdb` track (#595)
  it_serverless/conftest.py
  it_serverless/test_logs.py
  it_serverless/test_selected_tracks_and_challenges.py
  tsdb/README.md
  tsdb/challenges/default.json
  tsdb/operations/default.json
Labels: backport

#601 [elastic/logs] Allow datastream-autosharding to use default cluster settings
  elastic/logs/challenges/datastream-autosharding.json
Labels: bug

#594 Improvements to the categorize-text challenge
  elastic/logs/README.md
  elastic/logs/challenges/categorize-text.json
Labels: cleanup, auto-merge

#606 Use a pipeline to generate doc id and use correct doc id values
  tsdb/challenges/default.json
  tsdb/operations/default.json
Labels: backport pending

#609 Backport: Use a pipeline to generate doc id and use correct doc id values
  tsdb/challenges/default.json
  tsdb/operations/default.json
Labels: backport

#607 Add GitHub Archive track redo
  github_archive/README.md
  github_archive/challenges/append-index-only.json
  github_archive/challenges/default.json
  github_archive/challenges/parallel-indexing-and-search.json
  github_archive/common/schedule_setup.json
  github_archive/files.txt
  github_archive/index-mappings.json
  github_archive/index-template.json
  github_archive/index.json
  github_archive/operations/default.json
  github_archive/track.json
  it_serverless/test_selected_tracks_and_challenges.py
Labels: new workload

#608 Improvements to the categorize-text challenge (#594)
  cohere_vector/index-vectors-only-mapping.json
  elastic/logs/README.md
  elastic/logs/challenges/categorize-text.json
  so_vector/index.json
Labels: backport, auto-merge
