Repository elastic/rally-tracks, pull requests merged in 2024-02, with the labels that each got.

#500 Add storage challenge to k8s track
  tsdb_k8s_queries/challenges/default.json
Labels: enhancement

#559 Replace PROJECT keyword with KEEP in ESQL queries
  nyc_taxis/operations/default.json
Labels: cleanup

#560 Use new name for frequent items agg
  so/operations/default.json
Labels: tech debt

#562 Adds field-caps non empty field task in the many-shards-quantitative challenge
  elastic/logs/challenges/many-shards-quantitative.json
  elastic/logs/tasks/field-caps-non-empty-fields.json
Labels: enhancement

#566 Fix for elastic/logs many-shards-quantitative
  elastic/logs/tasks/field-caps-non-empty-fields.json
Labels: bug
