Repository elastic/rally-tracks, pull requests merged in 2024-09, with the labels that each got.

#655 Keep array source in logsdb mode
  elastic/logs/templates/component/track-shared-logsdb-mode.json
Labels: enhancement, auto-merge

#656 [8.15] Keep array source in logsdb mode
  elastic/logs/templates/component/track-shared-logsdb-mode.json
Labels: enhancement, auto-merge

#664 Modify the default vector index type to int8_hnsw (#658)
  dense_vector/README.md
  dense_vector/index.json
  so_vector/README.md
  so_vector/index.json
Labels: backport, auto-merge

#673 Backport #660 to 8.14
  .github/workflows/ci.yml
Labels: backport

#676 [8.15] Add logsdb support to http_logs track
  http_logs/README.md
  http_logs/challenges/common/default-schedule.json
  http_logs/index.json
Labels: backport

#671 Modify the default vector index type to int8_hnsw (#658)
  dense_vector/README.md
  dense_vector/index.json
  so_vector/README.md
  so_vector/index.json
Labels: backport

#682 Include a variable to control `synthetic_source_keep` parameter
  elastic/logs/README.md
  elastic/logs/templates/component/track-shared-logsdb-mode.json
  elastic/security/README.md
  elastic/security/templates/component/track-shared-logsdb-mode.json
Labels: backport-to-8.15
