Repository elastic/rally-tracks, pull requests merged in 2025-01, with the labels that each got.

#720 Configure routing on sort fields for logsdb
  elastic/logs/templates/component/auditbeat-mappings.json
  elastic/logs/templates/component/logs-apache.access@package.json
  elastic/logs/templates/component/logs-apache.error@package.json
  elastic/logs/templates/component/logs-kafka.log@package.json
  elastic/logs/templates/component/logs-mysql.error@package.json
  elastic/logs/templates/component/logs-mysql.slowlog@package.json
  elastic/logs/templates/component/logs-nginx.access@package.json
  elastic/logs/templates/component/logs-nginx.error@package.json
  elastic/logs/templates/component/logs-postgresql.log@package.json
  elastic/logs/templates/component/logs-redis.log@package.json
  elastic/logs/templates/component/logs-redis.slowlog@package.json
  elastic/logs/templates/component/logs-system.auth@package.json
  elastic/logs/templates/component/logs-system.syslog@package.json
Labels: enhancement

#733 Deep terms agg
  noaa/aggs-tasks.json
  noaa/operations/default.json
Labels: backport-to-8.15

#736 [8.15] Bump versions after 3.8 deprecation (#729)
  .github/workflows/ci.yml
Labels: backport
